---
layout: default
---

<section class="posts wrapper">
	{% for post in paginator.posts %}
		{% assign author = site.data.authors[post.author] %}
		<article class="post">
			<header class="post-header" style="background-image:url('{{ post.cover_image }}');">
				<div class="overlay"></div>
				<div class="container">
					<h3>
						{% for category in post.categories %}
							{{ category }}
						{% endfor %}
					</h3>
					<h2 class="post-title"><a href="{{ post.url }}">{{ post.title }}</a></h2>
					<hr class="separator" />
					<div class="post-meta">
						<span class="item"> By {{ author.name }}</span>
						<span class="item"><i class="fa fa-clock-o"></i> {{ post.date | date: "%-d %B %Y" }}</span>
					</div>
				</div>
			</header>
			<div class="post-content">
				<div class="container">
					<div class="row">
						<div class="col-md-9">
							<div class="post-body">
								{{ post.content }}
							</div>
						</div>
						<div class="col-md-3">
							<div class="post-sidebar">
								<div class="post-author">
									<img src="{{ author.image }}" />
									<h4>{{ author.name }}</h4>
									<hr class="separator" />
									<ul class="list-unstyled list-inline">
										{% if author.twitter_url != '' %}<li><a class="icon" href="{{ author.twitter_url }}"><i class="fa fa-twitter-square"></i></a></li>{% endif %}
										{% if author.facebook_url != '' %}<li><a class="icon" href="{{ author.facebook_url }}"><i class="fa fa-facebook-square"></i></a></li>{% endif %}
										{% if author.github_url != '' %}<li><a class="icon" href="{{ author.github_url }}"><i class="fa fa-github-square"></i></a></li>{% endif %}
										{% if author.youtube_url != '' %}<li><a class="icon" href="{{ author.youtube_url }}"><i class="fa fa-youtube-square"></i></a></li>{% endif %}
										{% if author.dribbble_url != '' %}<li><a class="icon" href="{{ author.dribbble_url }}"><i class="fa fa-dribbble"></i></a></li>{% endif %}
										{% if author.googleplus_url != '' %}<li><a class="icon" href="{{ author.googleplus_url }}"><i class="fa fa-google-plus-square"></i></a></li>{% endif %}
										{% if author.instagram_url != '' %}<li><a class="icon" href="{{ author.instagram_url }}"><i class="fa fa-instagram"></i></a></li>{% endif %}
										{% if author.pinterest_url != '' %}<li><a class="icon" href="{{ author.pinterest_url }}"><i class="fa fa-pinterest-square"></i></a></li>{% endif %}
										{% if author.linkedin_url != '' %}<li><a class="icon" href="{{ author.linkedin_url }}"><i class="fa fa-linkedin-square"></i></a></li>{% endif %}
									</ul>
									<p>{{ author.bio }}</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<footer class="post-footer"></footer>
		</article>
	{% endfor %}

	{% include pagination.html %}

</section>