<footer class="site-footer">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				Copyright © <a href="http://www.lioncodestudio.com">Lion Code Studio</a> 2015 • All Rights Reserved
			</div>
		</div>
	</div>
</footer>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script async type="text/javascript" src="{{ "/assets/js/jquery.sticky-kit.min.js" | prepend: site.baseurl }}"></script>
<script async type="text/javascript" src="{{ "/assets/js/build/themes.min.js" | prepend: site.baseurl }}"></script>
