<footer class="site-footer">

</footer>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script type="text/javascript">
  var config = {
    // 'disqus_shortname': '{{ site.theme_disqus_shortname }}',
    // 'google_comments': {{ site.theme_google_comments }},
    // 'analytics_id': '{{ site.theme_analytics_id }}',
    // 'analytics_domain': '{{ site.theme_analytics_domain }}',
    // 'readingtime': {{ site.theme_reading_time }},
    // 'autoload_comments': {{ site.theme_autoload_comments }}
  };
</script>
<script async type="text/javascript" src="{{ "/assets/js/jquery.sticky-kit.min.js" | prepend: site.baseurl }}"></script>
<script async type="text/javascript" src="{{ "/assets/js/build/themes.min.js" | prepend: site.baseurl }}"></script>
