---
layout: default
---

<section class="posts wrapper">

  <article class="post">
    <header class="post-header" style="background-image:url('{{ page.cover_image }}');">
      <div class="overlay"></div>
      <div class="container">
        <h2 class="post-title"><a href="{{ page.url }}">{{ page.title }}</a></h2>
        <hr class="separator" />
      </div>
    </header>
    <div class="post-content">
      <div class="container">
        <div class="row">
          <div class="col-md-9">
            <div class="post-body">
              {{ content }}
            </div>
          </div>
          <div class="col-md-3">
            <div class="post-sidebar">
              <div class="post-author">
                <img src="{{ site.author_image }}" />
                <h4>{{ site.author_name }}</h4>
                <hr class="separator" />
                <ul class="list-unstyled list-inline">
                  {% if site.twitter_url %}<li><a class="icon" href="{{ site.twitter_url }}"><i class="fa fa-twitter-square"></i></a></li>{% endif %}
                  {% if site.facebook_url %}<li><a class="icon" href="{{ site.facebook_url }}"><i class="fa fa-facebook-square"></i></a></li>{% endif %}
                  {% if site.github_url %}<li><a class="icon" href="{{ site.github_url }}"><i class="fa fa-github-square"></i></a></li>{% endif %}
                  {% if site.youtube_url %}<li><a class="icon" href="{{ site.youtube_url }}"><i class="fa fa-youtube-square"></i></a></li>{% endif %}
                  {% if site.dribbble_url %}<li><a class="icon" href="{{ site.dribbble_url }}"><i class="fa fa-dribbble"></i></a></li>{% endif %}
                  {% if site.googleplus_url %}<li><a class="icon" href="{{ site.googleplus_url }}"><i class="fa fa-google-plus-square"></i></a></li>{% endif %}
                  {% if site.instagram_url %}<li><a class="icon" href="{{ site.instagram_url }}"><i class="fa fa-instagram"></i></a></li>{% endif %}
                  {% if site.pinterest_url %}<li><a class="icon" href="{{ site.pinterest_url }}"><i class="fa fa-pinterest-square"></i></a></li>{% endif %}
                  {% if site.linkedin_url %}<li><a class="icon" href="{{ site.linkedin_url }}"><i class="fa fa-linkedin-square"></i></a></li>{% endif %}
                </ul>
                <p>{{ site.author_bio }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </article>

</section>
